.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #f5f5eb;
}

.accordion {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background: #f5f5eb;
  padding: 0;
}

.accordion__element {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px solid #ccc;
}

.accordion__element:active {
  opacity: 0.8;
  color: #0000FF;
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.1rem 0 0.1rem 0;
}

.toggle {
  position: absolute;
  display: none;
}

i {
  display: inline-block;
  rotate: 90deg;
}
span {
  display: inline-block;
  text-align: left;
}

img {
  width: 22em;
  height: 22em;
}

label {
  margin: 1rem 0 1rem 0;
}

.hidden {
  display: none;
  cursor: pointer;
}

.toggle:checked ~ .hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  animation: show 1.2s ease 0s 1 normal forwards;
  margin-bottom: 1rem;
  color: #222;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
